<div class="main flex justify-center items-center  flex-col py-5 ">
  <h2 class="font-bold text-4xl uppercase text-[#2c3e50]">portfolio component </h2>
  <app-star color="#2c3e50" />
</div>
<div class="container mx-auto ">
  <div class="grid grid-cols-3 py-14 gap-16">
    <div class="cards" *ngFor="let card of cards" (click)="showCurrentCard(card);showLightBox()">
      <div class="group card rounded-xl overflow-hidden hover:cursor-pointer relative">
        <img [src]="card.img" [alt]="card.alt" />
        <div class="group-hover:scale-100 scale-0 transition-all ease-in-out duration-500 absolute top-0 start-0 bottom-0 end-0 bg-[#1abc9c] bg-opacity-80 flex justify-center items-center">
          <svg class="w-28 h-28 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M5 12h14m-7 7V5" />
          </svg>

        </div>
      </div>
    </div>
  </div>

</div>

@if(isLightBox){


  <div (click)="showLightBox()"
    class="lightboxcontainer fixed top-0 start-0 bottom-0 end-0 bg-black bg-opacity-75 flex justify-center items-center">
    <div class="content">
      <img (click)="showLightBox()" [src]="currentCard.img" alt="">
    </div>
  </div>

  }
