<div class="main bg-[#1abc9c] h-screen flex justify-center items-center  flex-col  text-white">
  <h2 class="font-bold text-4xl uppercase">about component
  </h2>
  <app-star />
  <div class="container mx-auto">

    <div class="flex flex-row md:px-40">
      <div class="basis-1/2">
        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
          including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.

        </p>
      </div>
      <div class="basis-1/2">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
          including
          HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.


        </p>
      </div>
    </div>
  </div>
</div>
